[submodule "cutefish/code/core"]
	path = cutefish/code/core
	url = git@github.com:rjfovo/core.git
[submodule "cutefish/code/launcher"]
	path = cutefish/code/launcher
	url = git@github.com:rjfovo/launcher.git
[submodule "cutefish/code/dock"]
	path = cutefish/code/dock
	url = git@github.com:rjfovo/dock.git
[submodule "cutefish/code/statusbar"]
	path = cutefish/code/statusbar
	url = git@github.com:rjfovo/statusbar.git
[submodule "cutefish/code/screenlocker"]
	path = cutefish/code/screenlocker
	url = git@github.com:rjfovo/screenlocker.git
[submodule "cutefish/code/daemon"]
	path = cutefish/code/daemon
	url = git@github.com:rjfovo/daemon.git
[submodule "cutefish/code/libcutefish"]
	path = cutefish/code/libcutefish
	url = git@github.com:rjfovo/libcutefish.git
[submodule "cutefish/code/settings"]
	path = cutefish/code/settings
	url = git@github.com:rjfovo/settings.git
[submodule "cutefish/code/updator"]
	path = cutefish/code/updator
	url = git@github.com:rjfovo/updator.git
[submodule "cutefish/code/fishui"]
	path = cutefish/code/fishui
	url = git@github.com:rjfovo/fishui.git
[submodule "cutefish/code/kwin-plugins"]
	path = cutefish/code/kwin-plugins
	url = git@github.com:rjfovo/kwin-plugins.git
[submodule "cutefish/code/sddm-theme"]
	path = cutefish/code/sddm-theme
	url = git@github.com:rjfovo/sddm-theme.git
[submodule "cutefish/code/appmotor"]
	path = cutefish/code/appmotor
	url = git@github.com:rjfovo/appmotor.git
[submodule "cutefish/code/qt-plugins"]
	path = cutefish/code/qt-plugins
	url = git@github.com:rjfovo/qt-plugins.git
[submodule "cutefish/code/icons"]
	path = cutefish/code/icons
	url = git@github.com:rjfovo/icons.git
[submodule "cutefish/code/gtk-themes"]
	path = cutefish/code/gtk-themes
	url = git@github.com:rjfovo/gtk-themes.git
[submodule "cutefish/code/cursor-themes"]
	path = cutefish/code/cursor-themes
	url = git@github.com:rjfovo/cursor-themes.git
[submodule "cutefish/code/filemanager"]
	path = cutefish/code/filemanager
	url = git@github.com:rjfovo/filemanager.git
[submodule "cutefish/code/debinstaller"]
	path = cutefish/code/debinstaller
	url = git@github.com:rjfovo/debinstaller.git
[submodule "cutefish/code/texteditor"]
	path = cutefish/code/texteditor
	url = git@github.com:rjfovo/texteditor.git
[submodule "cutefish/code/terminal"]
	path = cutefish/code/terminal
	url = git@github.com:rjfovo/terminal.git
[submodule "cutefish/code/screenshot"]
	path = cutefish/code/screenshot
	url = git@github.com:rjfovo/screenshot.git
[submodule "cutefish/code/calculator"]
	path = cutefish/code/calculator
	url = git@github.com:rjfovo/calculator.git
[submodule "cutefish/code/videoplayer"]
	path = cutefish/code/videoplayer
	url = git@github.com:rjfovo/videoplayer.git
[submodule "cutefish/code/calamares"]
	path = cutefish/code/calamares
	url = git@github.com:rjfovo/calamares.git
[submodule "cutefish/code/plymouth-theme"]
	path = cutefish/code/plymouth-theme
	url = git@github.com:rjfovo/plymouth-theme.git
[submodule "cutefish/code/wallpapers"]
	path = cutefish/code/wallpapers
	url = git@github.com:rjfovo/wallpapers.git
[submodule "cutefish/code/docs"]
	path = cutefish/code/docs
	url = git@github.com:rjfovo/docs.git
[submodule "cutefish/code/myos_base"]
	path = cutefish/code/myos_base
	url = git@github.com:rjfovo/myos_base.git
